<head>
    <meta charset="utf-8">
    <title>Stuff</title>
  </head>
  <body>
    <p>Stuffy Stuff</p>
    <form action="/users/create" method="post">
    <input type="submit" name="Button" value="Button">
    </form>
  </body>
